@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');


html,
body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    min-height: 100vh;
    background: #ffffff;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

a,
a:link,
a:visited {
    outline: none;
    text-decoration: none;
    -moz-tap-highlight-color: transparent;
    -webkit-tap-highlight-color: transparent;
}

img {
    border: none;
    margin: 0px;
    max-width: 100%;
}

h1 {
    font-size: 2em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

h3,
h4,
h5,
h6 {
    font-size: .9em;
    font-weight: bold;
    margin: 0px;
    padding: 0px;
}

form,
input,
select,
textarea,
p {
    margin: 0px;
    padding: 0;
}

textarea {
    resize: none;
}

input:focus,
textarea:focus {
    outline: none;
}

a {
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

input[type="submit"],
input[type="button"],
button {
    cursor: pointer;
    -webkit-transition: .4s ease-in-out;
    -moz-transition: .4s ease-in-out;
    -o-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time {
    display: block;
    margin: 0px;
    padding: 0;
}

button {
    outline: none;
    border: none;
}

.slick-list:focus,
.slick-list a {
    outline: none;
}

.customClear {
    clear: both;
    font-size: 0em;
    line-height: 0px;
    height: 0px;
    margin: 0px;
    padding: 0px;
}

.overlay {
    width: 100%;
    height: 100%;
    background: #000;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: none;
}

.modal_wrapper {
    width: 100%;
    position: absolute;
    padding-top: 50px;
    top: 0;
    left: 0;
    z-index: 1001;
}


/*IE below 9*/

#ieWrapper {
    background: #000;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.ieHolder {
    position: relative;
    width: 555px;
    padding: 20px;
    margin: 200px auto 0 auto;
    background: #FFF;
    border: 7px solid #2b2927;
}

.btnIeUpdate {
    background: url(../../assets/images//btnIeUpdate.jpg) 0 0 no-repeat;
    width: 144px;
    height: 37px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    color: #fff;
    line-height: 37px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.ieLogo {
    float: left;
    width: 134px;
    height: 139px;
    background: url(../../assets/images//ieLogo.jpg) no-repeat 0 0;
}

.ieContent {
    float: right;
    margin: 0;
    padding: 0;
    width: 350px;
    color: #666;
    font-size: 15px;
    line-height: 18px;
}

.ieContent strong {
    margin: 0 0 15px 0;
    padding: 0 0 10px 0;
    border-bottom: 1px dashed #cccccc;
    display: block;
    font-size: 18px;
    color: #333;
    font-weight: normal;
}

.layout-wrapper {
    position: relative;
}

#page-header{
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 30px;
    z-index: 11;
}

.header-wrapper {
    border-bottom: 1px solid #d5dbe0;
    padding-bottom: 15px;
}

.page-center {
    max-width: 1272px;
    width: 100%;
    margin:0 auto;
}


.flex{
    display: flex;
    flex-flow: row nowrap;
}

.page-nav ul {
    display: flex;
    flex-flow: row nowrap;
    margin: 0;
    padding: 0;
    position: relative;
    align-items: center;
}

.page-nav ul li {
    list-style-type: none;
    margin-right: 56px;
}

.page-nav ul li a{
    position: relative;
}

.page-nav ul li a:after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
        bottom: -9px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.page-nav ul li:last-child{
    margin-right: 0;
}

.page-nav ul li a{
    font-size: 18px;
    font-weight: 500;
    color: #ffffff;
}





.page-nav ul li a.web-nav {
    padding:10px 0;
    display:block;
    text-decoration: none;
    text-transform: uppercase;
    color:#ddd;
    position:relative;
}

.page-nav ul li a.web-nav:after{
    content:'';
    width:0%;
    transition:all 0.3s ease;
    left:50%;
}

.page-nav ul li a.web-nav:before{
    content:'';
    width:0%;
    transition:all 0.3s ease;
    left:50%;
}

.page-nav ul li a.web-nav:hover:after{
    content:'';
    position:absolute;
    bottom:-17px;
    left:50%;
    background:#FFDA00;
    height:3px;
    width:50%;
}

.page-nav ul li a.web-nav:hover:before{
    content:'';
    position:absolute;
    bottom:-17px;
    left:0px;
    background:#FFDA00;
    height:3px;
    width:50%;
}

.page-nav ul li a.web-nav.active {
    position:relative;
}

.page-nav ul li a.web-nav.active:after{
    content:'';
    position:absolute;
    bottom:-17px;
    left:50%;
    background:#FFDA00;
    height:3px;
    width:50%;
}

.page-nav ul li a.web-nav.active:before{
    content:'';
    position:absolute;
    bottom:-17px;
    left:0px;
    background:#FFDA00;
    height:3px;
    width:50%;
}




.banner-content{
    top: 34%;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    text-align: center;
}

.swiper-slide p{
    font-size: 18px;
    line-height: 23px;
    color: #ffffff;
    width: 890px;
    text-align: center;
    margin: 0 auto;
}

.btn-common {
    font-size: 18px;
    font-weight: 500;
    padding: 4px 22px;
    text-transform: uppercase;
    outline: 0;
    border: 0;
    margin: 41px 0;
}

.btn-common.login-btn {
    background: #f2d906;
    color: #011522;
    border: 2px solid transparent;
    margin-right: 28px;
}

.btn-common.reg-btn {
    border: 2px solid #ffffff;
    color: #ffffff;
    background: transparent;
}

.swiper-wrapper h2 {
    font-size: 73px;
    font-weight: 500;
    color: #ffffff;
}

.header-wrapper {
    justify-content: space-between;
    align-items: center;
}

.search-card{
    /*background: #ffffff;*/
    -webkit-box-shadow: 6px -1px 21px 0px rgba(0,0,0,0.15);
    -moz-box-shadow: 6px -1px 21px 0px rgba(0,0,0,0.15);
    box-shadow: 6px -1px 21px 0px rgba(0,0,0,0.15);
    z-index: 10;
}

.banner-section {
    position: relative;
}

.search-wrapper{
    /*position: absolute;*/
    bottom: -21px;
    right: 0;
    left: 0;
    margin:0 auto;
    z-index: 11;
}

.input-holder {
    flex: 1;
}

.input-holder select{
    -webkit-transition:none;
    -moz-transition:none;
}

.input-holder .chosen-container-single .chosen-single{
    box-shadow: none;
    padding: 0 10px;
    border: 0;
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    -o-transition: all 0.4s ease;
    transition: all 0.4s ease;
    border-radius: 4px;
    font-size: 15px;
    background: transparent;
}

.input-holder .chosen-container-single{
    padding: 10px;

}

.chosen-container{
    width: 100% !important;
    /*margin: 0 27px !important;*/
}

.border-line{
    position: relative;
}

.border-line:after{
    content: "";
    position: absolute;
    background: #d6d6d6;
    width: 1px;
    height: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 0;
}

.chosen-container-active.chosen-with-drop .chosen-single {
    border: 0;
    border-bottom-left-radius: 0;
    background-image: none;
    box-shadow: none;
}

.chosen-container .chosen-drop{
    border:0;
}

.search-btn {
    background: #0677d7;
    text-transform: uppercase;
    color: #ffffff;
    padding: 11px 20px;
    height: 100%;
    /* line-height: 46px; */
    width: 100%;
    display: block;
    text-align: center;
    -webkit-appearance: none;
}

.main-content {
    background: #ffffff;
}

.main-wrapper {
 -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.03);
 -moz-box-shadow:0px 0px 15px 5px rgba(0, 0, 0, 0.03);
 box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.03);
 width: 100%;
 background: #fbfbfb;
 padding: 60px 40px;
 margin-top: -61px;
 border-radius: 16px;
 position: relative;
 z-index: 2;

}

.home-page .main-wrapper {
    margin-top: 30px;
}

.custom-row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}



.user-card {
    flex:0 0 48%;
    max-width: 100%;
    margin-bottom: 60px;
    background: #ffffff;
    padding: 24px 36px;
    -webkit-box-shadow: 6px -1px 21px 0px rgba(0, 0, 0, 0.06);
    -moz-box-shadow:6px -1px 21px 0px rgba(0, 0, 0, 0.06);
    box-shadow: 6px -1px 21px 0px rgba(0, 0, 0, 0.06);
    position: relative;
    border-radius: 16px;
}

.link-box{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    cursor: pointer;
}

/*.user-card:last-child{
    margin-bottom: 0;
}
*/
.user-card .user-img{
    flex: 0 0 139px;
    max-width: 32%;
    height: 133px;
    border-radius: 16px;
}

.user-card .user-img img{
    max-width: 100%;
    visibility: hidden;
}

.user-img{
    background-repeat: no-repeat;
    background-size: 89%;
    background-position: center center;
    border: 1px solid #ddd;
    padding: 2px;
}

.user-details{
    margin-left: 34px;
}

.user-details h3{
    font-size: 24px;
    color: #091217;
    font-weight: 600;
}

.user-details span{

    font-size: 19px;
    display: block;
}

a.btn-view-details{
  background: #0677D4 url(../../assets/images//view_details.png) no-repeat 93% center;
  font-size: 15px;
  position: absolute;
  right: 0;
  bottom: 0px;
  border-radius: 10px 2px;
  display: block;
  width: 140px;
  color: #ffffff;
  padding: 10px 0px 10px 15px;
  background-size: 17px;
}

a.btn-view-details:hover, a.search-btn:hover{
    color: #ffffff;
    text-decoration:unset;
}

.footer-wrapper {
 background: url(../../assets/images//footer_bg.jpg) no-repeat center center;
 width: 100%;
 background-size: cover;
 /*height: 200px;*/
 margin-top: -90px;
 z-index: 1;
 position: relative;
}

.footer-content{
    padding-top: 107px;
}

/** inner page ***/



.banner-img, .user-imgV2, .footer-img {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.user-imgV2 img{
    width: 192px;
    height: 192px;
}

.user-left{
    margin-right: 20px;
    border: 2px solid #ffffff;
    -webkit-box-shadow: 6px -1px 21px 0px rgba(0, 0, 0, 0.13);
    -moz-box-shadow:6px -1px 21px 0px rgba(0, 0, 0, 0.13);
    box-shadow: 6px -1px 21px 0px rgba(0, 0, 0, 0.13);
           width: 190px;
    height: 170px;

}

.user-right{
    flex:1;
}


.banner-section.banner-img {
   height: 350px;

}

.banner-img img, .user-imgV2 img, .footer-img img{
    visibility: hidden;
    max-width: 100%;
}

.inner-page .main-wrapper{
    margin: 0;
    min-height: 260px;
}

.inner-page .main-content {
    margin: -90px 0 0 0;
    padding: 0 40px;
}

.user-right h3{
    font-weight: 500;
    color: #185982;
    width: 100%;
}

.custom-breadcrumb{
    position: absolute;
    bottom: 100px;
    z-index: 1;
        padding: 0 20px;
}

.custom-breadcrumb ul {
    margin: 0;
    padding: 0;
    position: relative;
}

.custom-breadcrumb  span{
    color: #ffffff;
}

.custom-breadcrumb li a{
    margin-right: 10px;
    color: #eaff00;
    text-decoration: none;
}

.custom-breadcrumb li{
    position: relative;
    padding: 0;
    display: inline;
}

.custom-breadcrumb .breadcrumb{
    background: transparent;
    padding: 0;
    margin: 0;
}

.breadcrumb ol{
    padding: 0;
    margin: 0;
}

.breadcrumb-item+.breadcrumb-item::before{
    color: #ffffff !important;
}

/*

.custom-breadcrumb li:after{
    content: "/";
    position: absolute;
        right: 1px;
    padding: 0 2px;
    color: #ddd;
}
*/

.age-wrapper{
    margin: 10px 0;
}
.age-wrapper span{
    position: relative;
        margin-right: 20px;
}

.user-right span {
    color: #03080c;
    width: 100%;

}

.bottom-section {
    margin-top:60px;
}

.user-detail-row {
    display: flex;
    flex-flow: row;
    padding: 14px 0;
    border-bottom: 2px solid #dadada;
}

.user-detail-row:last-child{
    border:0;
    padding-bottom: 0;
}

.user-detail-row label {
    flex:1;
    margin: 0;
}

.user-detail-row span{
    font-weight: 500;
    flex:1;

}

/** reg  27/02**/

.footer-top, .footer-bottom {
    justify-content: space-between;
    align-items: center;
}

.footer-top{
    padding: 0 0 13px 0;

}

.footer-bottom{
    border-top:2px solid #013e71;
    padding: 13px 0 40px 0;
}

.footer-bottom a {
    color: #ffffff;
}
.footer-bottom a:hover {
    color: #ffffff;
    text-decoration: none;
}

.custom-radio-wrap {
    flex-flow: wrap;
}



.custom-radio-wrap .radio-btn label {
    -webkit-appearance: none;
    position: relative;
    margin: 0 12px 12px 0;
    color: #4f5f6f;
    font-size: 16px;
    cursor: pointer;
    display: block;
    border-radius: 10px;
    padding:13px 19px 15px 55px;
    border: 2px solid rgba(65,63,233,.11);
    -webkit-transition: .5s cubic-bezier(0,0,.23,1);
    transition: all .5s cubic-bezier(0,0,.23,1);
}

.custom-radio-wrap  .radio-btn .label-text {
    vertical-align: middle;
    cursor: pointer;
    padding-left: 10px;
    margin-left: -5px;
}

.teacher-imgs {
   background: url(../../assets/images//teacher_img.png) no-repeat 18px center;
   background-size: 27px;
}
.resource_person-imgs {
   background: url(../../assets/images//rp_img.png) no-repeat 18px center;
   background-size: 27px;
}
.user-imgs {
   background: url(../../assets/images//trainer_img.png) no-repeat 18px center;
   background-size: 27px;
}
.rp-img {
   background: url(../../assets/images//rp_img.png) no-repeat 18px center;
   background-size: 27px;
}
.trainer-img {
   background: url(../../assets/images//trainer_img.png) no-repeat 18px center;
   background-size: 27px;
}

.custom-radio-wrap .radio-btn input {
    display: none;
    cursor: pointer;
}

.custom-radio-wrap  .radio-btn input:checked + label {
    border:2px solid #413fe9;
}

.custom-radio-wrap .radio-btn input:checked ~ .label-text {
    color: #0079bf;
    font-weight: 700;
}

/*.custom-radio-wrap  .radio-btn input:checked + label:after {
    content: '';
     border:2px solid #413fe9;
  position: absolute;
}
*/

.form-group input[type=text] ,.form-group textarea, 
.form-group input[type=password], .form-group select,
.form-group input[type=email] {
    outline: none;
    border-bottom: 2px solid #d9d9d9;
    border-right: 0;
    border-left: 0;
    border-top: 0;
    background: transparent;
    color: #000000;
    padding: 8px;
    -webkit-appearance:none;
    -moz-appearance:none;
}

.form-group select{
    background: transparent url(../../assets/images/arrow.png) no-repeat 97% center;
    background-size: 3%; 
}

.form-group{
    display: flex;
    flex-flow: column;
}

.layout-wrapper.reg-page .main-wrapper {
    background: #ffffff;
}

.form-wrapper h3{
    font-size: 20px;
    font-weight: 600;
}


.radio-btnV2 [type="radio"]:checked,
.radio-btnV2 [type="radio"]:not(:checked) {
    position: absolute;
    left: -9999px;
}
.radio-btnV2 [type="radio"]:checked + label,
.radio-btnV2 [type="radio"]:not(:checked) + label
{
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}
.radio-btnV2 [type="radio"]:checked + label:before,
.radio-btnV2 [type="radio"]:not(:checked) + label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border-radius: 100%;
    background: #fff;
}

.radio-btnV2 [type="radio"]:checked + label:before {
    border: 1px solid #177ccc;

}
.radio-btnV2 [type="radio"]:not(:checked) + label:before {
    border: 1px solid #bdbdbd;
}

.radio-btnV2 [type="radio"]:checked + label:after,
.radio-btnV2 [type="radio"]:not(:checked) + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background: #177ccc;
    position: absolute;
    top: 3px;
    left: 3px;
    border-radius: 100%;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.radio-btnV2 [type="radio"]:not(:checked) + label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}
.radio-btnV2 [type="radio"]:checked + label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.swiper-container {
    width: 100%;
    height: 100%;
}
.swiper-wrapper{
  padding-left: initial;
  margin: 0;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    width: 80%;
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
}


.about-right h3{
    font-size: 38px;
    font-weight: 600;
}

.about-left{
    flex: 0 0 400px;
    width: 100%;
    margin-right: 30px;
}
.about-right{
    flex:1;
    padding: 86px 39px 100px;
}

.line{
    width: 80px;
    height: 4px;
    background: #387298;
    margin: 12px auto 40px;
}

.about-bottom h3{
    font-size: 30px;
    font-weight: 600;
}

.about-bottom .header{
    padding-bottom: 85px;
}

.contact-us .main-wrapper{
    padding: 63px 70px 70px;
}

input[type="submit"].submit-btn {
  border-radius: 12px;
  background-color: rgb(21, 219, 142);
  box-shadow: 2.5px 4.33px 38px 0px rgba(2, 139, 86, 0.37);
  outline: 0;
  border: none;
  padding: 10px  19px;
  color: #ffffff;
  margin: 10px 0 0 0;
}

.register-form .submit-btn{
        margin: 40px 0 20px!important;
    width: 117px;
}

#nav-icon3 {
    display: none;
    width: 28px;
    height: 21px;
    position: relative;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin-right: 20px;
}


#nav-icon3 span{
  display: block;
  position: absolute;
  height: 3px;

  width: 100%;
  background: #ffffff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}


#nav-icon3 span:nth-child(1) {
  top: 0px;
}

#nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
  top: 8px;
}

#nav-icon3 span:nth-child(4) {
  top:16px;
}

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%;
}

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%;
}

.mob-nav ul{
    margin: 0;
    padding: 0;
}

.mob-nav{
 padding: 10px;
 text-align: left;
 color: #000000;
 position: absolute;
 z-index: 111;
 width: 90%;
 top: 86px;
 background: #fff;
 margin: 0 auto;
 left: 0;
 right: 0;
 padding: 20px;
 display: none;
 box-shadow: -4px -18px 38px 7px rgba(2, 139, 86, 0.27);

}

.mob-nav a{
    padding: 0 0 16px 0;
    display: block;
    color: #000000;
}

.banner-section .swiper-slide{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.search-form .input-holder input[type=text], .search-form .input-holder select{
    padding: 7px 12px;
    border: 0;
    outline: none;
    font-size: 15px;
    height: 100%;
    width: 100%;
}

.user-content label{
    flex: 0 0 94px;
    margin: 0;
}

.user-details .user-content {
    padding-bottom: 10px;
}

.user-details .user-content:last-child {
    padding-bottom: 0;
}

.user-profile-img{
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 40px;
    display: block;
    border-radius: 50%;
    position: relative;
}

.user-profile-img img{
    visibility: hidden;
    max-width: 100%;
}

.dropdown-profile {
    position: absolute;
    background: rgb(255, 255, 255);
    right: -4px;
    padding: 10px;
    display: none;
    top: 65px;
    width: 220px;
}

.page-nav .dropdown-profile ul.dropdown-lists a{
    color: #13496b;
}

.dropdown-profile:before{
    content: "";
    position: absolute;
    width: 0; 
    height: 0; 
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 11px solid gainsboro;
    top: -11px;
    right: 14px;
}

.user-profile-img:after{
    content: "";
    position: absolute;
    right: 12px;
    bottom: -11px;
    width: 17px;
    height: 9px;
    z-index: 1;
    background: url(../../assets/images/arrow_white.png) no-repeat center center;
    background-size: 10px;
}

.page-nav ul.dropdown-lists {
    flex-flow: column;
}

.page-nav ul.dropdown-lists li{
    margin: 0;
    text-align: left;
    text-align: left;
    width: 100%;
    padding: 9px 12px;
    cursor: pointer;
    transition: .4s all;
}

.page-nav ul.dropdown-lists li:first-child{
    border-bottom: 1px solid #ddd;
    padding-top: 0;
}

.page-nav ul.dropdown-lists li:hover{
 padding-left: 24px;

}

.page-nav ul.dropdown-lists li:first-child:hover{
 padding-left: 12px;
 color: #0677d7;

}

.page-nav ul.dropdown-lists li a{
    cursor: pointer;
}

.page-nav ul.dropdown-lists li:last-child{
    padding: 0;
}

.img-icon {
     padding-left: 34px;
 background-repeat: no-repeat;
 background-position: 0 center;
 background-size: 20px;
}

.profile-icon {
    background-image: url(../../assets/images/profile.png) ;
}

.logout-icon {
    background-image: url(../../assets/images/log_out.png) ;
    background-position: 2px center;

}

.profile-mob {
    display: none;
}

.page-nav {
    position: relative;
}

.mob-nav-icon {
    align-items: center;
}

.search-form .input-holder select{
 background: #ffffff url(../../assets/images/arrow.png) no-repeat 94% center;
 -webkit-appearance: none;
 background-size: 11px;
}

#qualification .row{
    width: 100%;
    margin: 0 auto;
}

.btn-add{
        font-size: 13px;
    background: #09b6d2;
    color: #ffffff;
    padding: 6px 10px;
    border-radius: 8px;
    border: 0;
    outline: 0;
     -webkit-appearance: none;
}

 .swiper-container {
      width: 100%;
      height: 100%;
    }
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;

      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }


.choose-us-wrapper img{
        height: 44px;
    margin-bottom: 15px;
    vertical-align:middle;
}

.layout-wrapper .alert.alert-success {
    position: absolute;
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    z-index: 111;
    top: 80px;
    right: 50px;
}

.age-wrapper span:first-child strong:after{
    content: "";
        position: absolute;
    right: -12px;
    top: 0;
    bottom: 0;
    width: 2px;
    height: 21px;
    background: #ddd;
}

button.close {
    padding: 0 15px !important;
}

.user-details-wrapper {
    width: 100%;

}

.banner-content h2{
        font-size: 70px;
    color: #ffffff;
}

.banner-content p{
    color: #ffffff;
        font-size: 13px;
    width: 70%;
    text-align: center;
    margin: 0 auto;
}

a:hover{
    text-decoration: none !important;
}

ul li {
    list-style-type: none;
}

h1, h2, h3, h4, h5, h6, li, a, button, input, label, p, .input-holder input,
select, span, strong, input[type=text], textarea, .submit-btn,  .input-holder select, 
.input-holder button, .form-group select, option, .alert-success{
    font-family: "Poppins";
}


@media screen and (max-width: 1400px) {
    .page-center{
        max-width: 1048px;
    }


    .page-nav ul li a, .btn-common {
        font-size: 14px;
    }

    .swiper-slide p{
        width: 100%;
    }

    .swiper-wrapper h2 {
        font-size: 60px;
    }
    .swiper-slide p {
        font-size: 14px;
    }

    .page-logo img{
        max-width: 230px;
    }
    .btn-common.log{
        margin-right: 20px;
    }

    .btn-common{
        margin:27px 0;
    }

    .main-wrapper{
        padding: 40px 30px;
    }

    .user-card .user-img {
        flex: 0 0 102px;
        max-width: 32%;
        height: 103px;
        min-width: 102px;

    }

    .user-details h3 {
        font-size: 20px;
    }

    .user-details span {
        font-size: 15px;
    }

    .user-details {
        margin-left: 24px;
    }

    a.btn-view-details {
        background-position: 88% center;
        font-size: 13px;
        width: 126px;
        padding: 10px 0px 10px 15px;
        background-size: 15px;
    }

    .user-card {
        flex: 0 0 48%;
        max-width: 100%;
        margin-bottom: 40px;
        background: #ffffff;
        padding: 20px 26px;
    }

    .footer-bottom a{
        font-size: 14px;
    }
}

@media screen and (max-width: 1024px){
    .page-nav ul li {
        list-style-type: none;
        margin-right: 26px;
    }/*

    .page-nav ul li a {
        font-size: 12px;
    }*/

    #page-header {
        padding: 0 24px 15px; 
    }

    .footer-content{
        padding: 107px 24px 0;
    }

    .about-top{
        flex-flow: column;
    }

    .about-right {
        padding: 26px 39px 20px;
    }

    .about-bottom .header {
        padding-bottom: 27px;
    }

}


@media screen and (max-width: 800px){
    .page-nav ul {
        display: none;
    }

    .page-nav.footer-nav ul {
        display: flex;
    }

    .page-nav ul.dropdown-lists {
        display: block;
    }

    .user-card .user-img {
        margin: 0 auto;
    }
    #nav-icon3, .profile-mob{
        display: block;
    }

    .input-holder-wrapper.flex, .user-card.flex {
        flex-flow: column;
    }
    .user-details {
        margin-left: 0;
        margin-top: 10px;
        width: 100%;
    }

    .user-card {
        padding: 14px 30px;
    }

    .contact-us .main-wrapper {
    padding: 30px;
}

 .banner-content h2 {
    font-size: 40px;
}

.banner-section.banner-img {
    height: 520px;
}

}

@media screen and (max-width: 800px){
    .main-wrapper .custom-row{
      flex-flow: column;
  }

  .user-content label {
    flex: 0 0 164px;
}
}


@media screen and (max-width: 600px){
    .footer-top, .footer-bottom{
        flex-flow: column;
    }

    .footer-bottom a {
        color: #ffffff;
        font-size: 14px;
    }

    .footer-top img{
        margin-bottom: 10px;
    }

    .footer-bottom {
        padding: 13px 0 18px 0;
    }

    .user-details-wrapper{
        flex-flow: column;
    }

    .user-right{
        margin-top: 10px;
    }

       
}

/*@import "../css/bootstrap-chosen.less*/